@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>ASP.NET MVC Essentials</h1>
    <p class="lead">Create a simple informational ASP.NET MVC application by your choice with at least 3 controllers, 1 area, 1 custom route, 5 views (at least 1 partial view and 1 section). Using data is not required.</p>
</div>
